[Unit]
Description=Raspberry Pi Cheese Project

[Service]
Type=simple
User=chaes
Group=chaes
WorkingDirectory=/home/chaes/mechatronicSem5ProjCheese/raspberryPi
Environment=PYTHONPATH=/home/chaes/mechatronicSem5ProjCheese/raspberryPi

ExecStartPre=/usr/bin/python3 /home/chaes/mechatronicSem5ProjCheese/raspberryPi/utils/setup.py
ExecStart=/usr/bin/python3 /home/chaes/mechatronicSem5ProjCheese/raspberryPi/main.py

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target